{% extends 'base.html'%}
{% block title%}History{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid animated fadeInDown">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Calificaciones del semestre</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
              {% for project in projects %}
              {{project.nombre}}
              <br>
              {{project.descripcion}}
              <br>
              {{project.status}}
              <br>
              {% endfor %}
          </div>
        </div>
      </div>
      </div>
    
{% endblock %}