<!-- Heading -->
<div class="sidebar-heading">
    Alumno
</div>
<!-- Nav Residencias -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseResidencias"
        aria-expanded="true" aria-controls="collapseResidencias">
        <i class="fas fa-fw fa-briefcase"></i>
        <span>Residencias</span>
    </a>
    <div id="collapseResidencias" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="{% url 'alumno.proyecto.detalles' %}">Mi Proyecto</a>
            <a class="collapse-item" href="{% url 'offerproy' %}">Ver Ofertas de Proyectos</a>
            <!-- <a class="collapse-item" href="ofertaproyecto">Investigacion</a> -->
        </div>
    </div>
</li>
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'alumno.oferta.index' %}">
        <i class="fas fa-fw fa-newspaper-o"></i>
        <span>Ofertas De Trabajo</span>
    </a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="calificaciones">
        <i class="fas fa-fw fa-table"></i>
        <span>Calificaciones</span>
    </a>

</li>


<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAlumnos" aria-expanded="true"
        aria-controls="collapseAlumnos">
        <i class="fas fa-fw fa-file-text"></i>
        <span>Documentos</span>
    </a>
    <div id="collapseAlumnos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="#">Mis Documentos</a>
            <a class="collapse-item" href="#">Pendientes</a>
            <!-- <a class="collapse-item" href="ofertaproyecto">Investigacion</a> -->
        </div>
    </div>
</li>